.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 10; }
  .parent .navbar {
    padding: 0px 80px;
    min-height: 100px;
    align-items: center;
    display: flex;
    flex: 1;
    background-color: #FFFFFF;
    border-bottom: 0.5px solid #F7F7F7; }
    .parent .navbar .brand a {
      font-weight: bold;
      font-size: 1.5rem;
      color: #FF5549; }
    .parent .navbar .nav-item {
      margin-left: auto; }
      .parent .navbar .nav-item a {
        margin: 10px;
        font-weight: 500;
        color: gray; }
        .parent .navbar .nav-item a[name="active"] {
          font-weight: 700;
          color: #2A1655; }
    .parent .navbar img {
      visibility: hidden; }

@media (max-width: 500px) {
  .parent {
    position: fixed; }
    .parent .navbar {
      padding: 0px 0px;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      border-bottom: 0.5px solid #F7F7F7; }
      .parent .navbar .nav-item {
        margin: 0px;
        display: flex; }
      .parent .navbar img {
        visibility: visible; } }
.content {
  margin-top: 160px; }
  .content .about-land {
    margin-top: 0px; }
  .content .landing {
    padding: 0px 80px;
    min-height: 592px;
    display: flex; }
    .content .landing[name="landing-page"] {
      min-height: 400px; }
      .content .landing[name="landing-page"] .identity {
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto; }
        .content .landing[name="landing-page"] .identity img {
          align-self: center;
          width: 150px;
          height: auto; }
        .content .landing[name="landing-page"] .identity a {
          align-self: center; }
          .content .landing[name="landing-page"] .identity a[name="my-resume"] {
            margin-bottom: 30px; }
        .content .landing[name="landing-page"] .identity img, .content .landing[name="landing-page"] .identity h1, .content .landing[name="landing-page"] .identity h2, .content .landing[name="landing-page"] .identity h3, .content .landing[name="landing-page"] .identity h4, .content .landing[name="landing-page"] .identity p {
          margin: 10px 0px;
          text-align: center; }
    .content .landing .identity {
      display: flex;
      flex-direction: column; }
      .content .landing .identity h1 {
        font-size: 64px;
        color: #2A1655; }
      .content .landing .identity h2, .content .landing .identity h3, .content .landing .identity h4 {
        color: #2A1655; }
      .content .landing .identity p {
        max-width: 500px;
        font-weight: 450;
        font-size: 18px;
        color: #2A1655;
        margin-bottom: 15px;
        line-height: 1.5rem; }
      .content .landing .identity .desc {
        max-width: 600px;
        color: grey; }
      .content .landing .identity a {
        color: #FF5549;
        font-weight: 500;
        border-radius: 4px; }
    .content .landing .img-landing img {
      position: absolute;
      right: 0;
      top: 224px; }
  .content .all {
    position: relative;
    margin: 160px 0px;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row wrap;
    padding: 0px 160px;
    align-self: center;
    justify-content: center; }
    .content .all[name="landing-page"] {
      margin: -10px 0px 160px 0px; }
      .content .all[name="landing-page"] .contact-list {
        margin: 10px;
        padding: 20px 40px;
        border-radius: 4px;
        color: #FF5549;
        font-weight: 500; }
    .content .all .circle-right {
      position: absolute;
      z-index: -10;
      right: 0;
      top: 924px; }
    .content .all .circle-left {
      position: absolute;
      z-index: -10;
      left: 0;
      top: 324px;
      transform: rotate(180deg); }
    .content .all .list {
      position: relative;
      cursor: pointer;
      min-width: 300px;
      height: 300px;
      margin: 32px;
      background: linear-gradient(179.9deg, rgba(42, 22, 85, 0) 57.57%, #2A1655 99.9%);
      border-radius: 4px; }
      .content .all .list:hover {
        background: linear-gradient(180deg, rgba(42, 22, 85, 0.6) 0%, #2A1655 100%);
        transition-duration: 1s; }
      .content .all .list img {
        position: absolute;
        max-width: 300px;
        height: auto;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        z-index: -1; }
      .content .all .list span {
        position: absolute;
        margin: 20px;
        padding: 5px 15px;
        border-radius: 50px;
        color: #FFFFFF;
        right: 0px;
        background-color: #FF5549; }
      .content .all .list .span2 {
        position: absolute;
        margin: 20px;
        padding: 5px 15px;
        border-radius: 50px;
        color: #FFFFFF;
        right: 85px;
        background-color: rgb(18, 184, 0); }
      .content .all .list h2 {
        position: absolute;
        margin: 20px;
        top: 200px;
        color: #FFFFFF; }
      .content .all .list p {
        position: absolute;
        top: 250px;
        margin: 5px 20px;
        color: #FFFFFF; }

@media (max-width: 500px) {
  .content {
    margin-top: 140px; }
    .content .about-land {
      margin-top: 10px; }
    .content .landing {
      padding: 0px 40px; }
      .content .landing[name="landing-page"] {
        min-height: 250px; }
        .content .landing[name="landing-page"] .identity {
          margin-top: 0px;
          margin-right: auto;
          margin-left: auto; }
          .content .landing[name="landing-page"] .identity img {
            align-self: center;
            width: 150px;
            height: auto; }
          .content .landing[name="landing-page"] .identity a {
            align-self: center; }
            .content .landing[name="landing-page"] .identity a[name="my-resume"] {
              margin-bottom: 50px; }
          .content .landing[name="landing-page"] .identity img, .content .landing[name="landing-page"] .identity h1, .content .landing[name="landing-page"] .identity h2, .content .landing[name="landing-page"] .identity h3, .content .landing[name="landing-page"] .identity h4, .content .landing[name="landing-page"] .identity p {
            margin: 10px 0px;
            text-align: center; }
      .content .landing .identity {
        display: flex;
        flex-direction: column; }
        .content .landing .identity h1 {
          font-size: 48px;
          color: #2A1655; }
        .content .landing .identity h2, .content .landing .identity h3, .content .landing .identity h4 {
          color: #2A1655; }
        .content .landing .identity p {
          max-width: 500px;
          font-weight: 450;
          font-size: 14px;
          color: #2A1655;
          margin-bottom: 15px;
          line-height: 1.5rem; }
        .content .landing .identity .desc {
          max-width: 600px;
          color: grey; }
        .content .landing .identity a {
          color: #FF5549;
          font-weight: 500;
          border-radius: 4px; }
      .content .landing .img-landing img {
        height: 300px;
        width: auto;
        position: absolute;
        right: 0;
        top: 400px; }
    .content .all {
      position: relative;
      margin: 0px 0px 160px 0px;
      display: flex;
      flex: 1 1 auto;
      flex-flow: row wrap;
      padding: 0px 160px;
      align-self: center;
      justify-content: center; }
      .content .all[name="landing-page"] {
        margin: -10px 0px 160px 0px; }
        .content .all[name="landing-page"] .contact-list {
          margin: 10px;
          padding: 20px 40px;
          border-radius: 4px;
          color: #FF5549; } }
.footer {
  display: flex;
  flex: 1 1 300px;
  flex-direction: column;
  padding: 40px 40px;
  background-color: #2A1655; }
  .footer .footer-content {
    display: flex;
    flex: 1;
    justify-content: space-between; }
    .footer .footer-content .resume {
      color: #FF5549; }
    .footer .footer-content li {
      margin: 0px 0px;
      display: flex;
      flex-direction: column; }
      .footer .footer-content li a, .footer .footer-content li p, .footer .footer-content li h3 {
        color: #FFFFFF;
        line-height: 32px; }
      .footer .footer-content li:nth-child(1) {
        max-width: 300px; }
        .footer .footer-content li:nth-child(1) p {
          margin-bottom: 40px; }
      .footer .footer-content li:nth-child(2) h3, .footer .footer-content li:nth-child(3) h3 {
        margin-bottom: 16px; }
  .footer .credits p {
    color: #FFFFFF; }

@media (max-width: 500px) {
  .footer {
    display: flex;
    flex: 1 1 600px;
    flex-direction: column;
    padding: 40px 40px;
    background-color: #2A1655; }
    .footer .footer-content {
      display: flex;
      flex: 1;
      flex-direction: column; }
      .footer .footer-content .resume {
        margin-top: -40px;
        color: #FF5549;
        font-weight: 700; }
      .footer .footer-content li {
        margin: 10px 0px;
        display: flex;
        flex-direction: column; }
        .footer .footer-content li a, .footer .footer-content li p, .footer .footer-content li h3 {
          color: #FFFFFF; }
        .footer .footer-content li:nth-child(1) {
          max-width: 300px; }
          .footer .footer-content li:nth-child(1) p {
            margin-bottom: 40px; }
        .footer .footer-content li:nth-child(2) h3, .footer .footer-content li:nth-child(3) h3 {
          margin-bottom: 16px; }
    .footer .credits {
      align-self: center;
      margin-top: 40px; }
      .footer .credits p {
        color: #FF5549; } }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.05em; }

.container {
  display: flex;
  flex: 1;
  flex-direction: column; }

/*# sourceMappingURL=style.css.map */
