.footer {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0px 80px;
    height: 280px;
    background-color: $dark-purple;

    .footer-content {
        display: flex;
        flex: 1;
        // flex-direction: column;
        // justify-content: space-between; 

        .resume {
            color: $red;
        }
        
        li {
            margin: 0px 0px;
            display: flex;
            flex-direction: column;

            a, p, h3, {
                color: $white;
                line-height: 32px;
            }
            
            &:nth-child(1) {
                max-width: 300px;
    
                p {
                    margin-bottom: 40px;
                }
            }

            &:nth-child(2), &:nth-child(3) {
                
                h3 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .credits {

        p {
            color: $white;

        }
    }


}

@media (max-width: 420px) {

    .footer {
        
        height: 500px;
        
        .footer-content {
            flex-direction: column;
            margin: 10px;
        }
    }

}
