.footer {
    // display: flex;
    // flex: 1;
    // flex-direction: column;
    // padding: 0px 80px;
    // height: 280px;
    // background-color: $dark-purple;
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    padding: 40px 40px;
    background-color: $dark-purple;

    .footer-content {
        display: flex;
        flex: 1;
        // flex-direction: column;
        justify-content: space-between; 

        .resume {
            color: $red;
        }
        
        li {
            margin: 0px 0px;
            display: flex;
            flex-direction: column;

            a, p, h3, {
                color: $white;
                line-height: 32px;
            }
            
            &:nth-child(1) {
                max-width: 300px;
    
                p {
                    margin-bottom: 40px;
                }
            }

            &:nth-child(2), &:nth-child(3) {
                
                h3 {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .credits {

        p {
            color: $white;

        }
    }


}

@media (max-width: 500px) {

    .footer {
        display: flex;
        flex: 1 1 600px;
        flex-direction: column;
        padding: 40px 40px;
        background-color: $dark-purple;
        // align-items: center;
    
        .footer-content {
            display: flex;
            flex: 1;
            flex-direction: column;
            // justify-content: space-between; 
    
            .resume {
                margin-top: -40px;
                color: $red;
                font-weight: 700;
            }
            
            li {
                margin: 10px 0px;
                display: flex;
                flex-direction: column;
    
                a, p, h3, {
                    color: $white;
                    // line-height: 32px;
                }
                
                &:nth-child(1) {
                    max-width: 300px;
        
                    p {
                        margin-bottom: 40px;
                    }
                }
    
                &:nth-child(2), &:nth-child(3) {
                    
                    h3 {
                        margin-bottom: 16px;
                    }
                }
            }
        }
        .credits {
            align-self: center;
            margin-top: 40px;
            
            p {
                color: $red;
    
            }
        }
    
    
    }
    

}
