@import "components/_mixin";
@import "navbar";
@import "content";
@import "footer";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    @include font-family(normal, Montserrat);
}
.container {
    display: flex;
    flex: 1;
    // width: 100%;
    flex-direction: column; 
}