*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    color: #FFC719;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #0A0539;
}

.navbar {
  display: flex;
  flex: 0 1 75px;
  min-height: 75px;
  background-color: #0A0539;
}

.navbar ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.li-nav {
  display: flex;
  margin: 0 10px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.li-nav i {
  margin: 10px;
}

.li-nav ul {
  justify-content: center;
}

.nav-menu{
  margin: 0px 10px;
}

.header{
  flex: 1;
}

.header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
}

.header-item{
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 1px solid #FFC719;
}

.header-item ul {
  flex: 1 auto;
  flex-direction: row;
  justify-content: center;
}

.header-item:nth-child(1){
  padding: 100px 0px;
  justify-content: center;
}

.header-item:nth-child(2){
  padding: 30px;
}

.header-item:nth-child(2) ul{
  flex-direction: column;
}

.item-text2{
  display: flex;
  flex: 1 1 auto;
  border: 1px solid #FFC719;
}

.item-text2:nth-child(2) ul{
  display: flex;
  flex-direction: row;
  flex: auto;
}

.item-text2:nth-child(2) ul li{
  padding: 20px;
}

.item-text2:nth-child(2) ul li h1{
  color: #FFFFFF;
}

.item-text2:nth-child(3) i{
  color: #FFFFFF;
  justify-content: center;
}

.item-text{
  background-color: #FFC719;
  width: 60%;
  display: table;
}

.item-text h1{
  color: #FFFFFF;
  z-index: 1;
  font-weight: 1000;
  margin: -65px 0 0 -20px;
  font-size: 7em;
}

.corner-img{
  height: 40%;
  width: auto;
  position:absolute; 
  right:0; 
  bottom:0; 
}