*{
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    color: #FFC719;
    text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #0A0539;
}

.navbar {
  display: flex;
  flex: 0 1 75px;
  min-height: 100px;
  background-color: #0A0539;
}

.navbar ul {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.li-nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.brand {
  font-size: 1.7em;
  font-weight: 500;
}

.li-nav:nth-child(2){
  font-size: 1.7em;
}

.li-nav:nth-child(2) a{
  margin: 0 15px;
}

.li-nav ul, .li-nav p {
  justify-content: center;
  font-weight: 500;
}

.nav-menu{
  margin: 0px 10px;
  padding: .7em .5em;
  border: .15em solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav-menu a, .fa {
  color: #FFFFFF;
}

.nav-menu:hover, .active{
  background: #FFC719;
  border: .15em solid #FFFFFF;
}

.header{
  flex: 1;
}

.header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
}

.header-item{
  display: flex;
  flex-direction: row;
  flex: 1;
  border: 1px solid #FFC719;
}

.header-item ul {
  flex: 1;
  flex-direction: row;
}

.header-item:nth-child(1){
  padding: 100px 0px;
  justify-content: center;
}

.header-item:nth-child(1) div{
  background-color: #FFC719;
  width: 60%;
  display: table;
}

.header-item:nth-child(1) div h1{
  color: #FFFFFF;
  z-index: 1;
  font-weight: 1000;
  margin: -65px 0 0 -20px;
  font-size: 7em;
}

.github-icon {
  font-size: 5em;
}

.corner-img{
  height: 40%;
  width: auto;
  position:absolute; 
  right:0; 
  bottom:0; 
}