*{
    color: #2ECC71;
    color: #27AE60;
    color: #2ECC71;
    color: #ECF0F1;
    color: #95A5A6;
    color: #34495E;
    color: #FFFFFF;
    color: #000000;
    color: #E67E22;
    color: #D35400;
    color: #3498DB;
    color: #2980B9;
}
