// variable

$dark-purple : #2A1655;
$red : #FF5549;
$white : #FFFFFF;

// font

@mixin font-family($style, $font) {
    font-family: $font;    
    font-style: $style;
    line-height: normal;
    letter-spacing: 0.05em;
}