.sidebar {

    visibility: visible;
    min-width: 250px;
    z-index:100;

    div {

        div {
            position: relative;
            padding: 16px 32px;
            border-bottom: 0.5px solid rgba(229, 229, 229, 0.575);
            text-decoration: none;
            transition: 0.3s;

            span {
                height: 44px;
                width: 4px;
                background-color: #005A9C;
                position: absolute;
                left: 0px;
                border-radius: 0px 4px 4px 0px;
            }

            img {
                height: 32px;
                width: auto;
                margin-right: 12px;
            }

            p {
                margin: 0;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 18px;
                letter-spacing: 0.02em;

                color: #005A9C;

            }
            .btn-side{
                padding: 0px 10px 3px 10px;
                color: orange;
                font-size: 22px;
                font-weight: bold;
                text-decoration: none;
                transition: 0.3s;
                box-shadow: $box-shadow-sm !important;

                &:hover {
                    background-color: white;
                    box-shadow: $box-shadow-lg !important;
                }
            }

            &:hover {
                background-color: #F8F9FE;
                cursor: pointer;
            }

            &:first-child {
                position: relative;
                padding: 48px 32px;
                cursor: context-menu;

                &:hover {
                    background-color: $white;
                } 

                img {
                    height: 48px;
                    width: 48px;
                    margin-right: 14px;
                }

                p {
                    margin: 0;
                    font-style: normal;
                    font-weight: bold;
                    line-height: normal;
                    font-size: 24px;
                    letter-spacing: 0.05em;
    
                    color: #005A9C;
                    cursor: pointer;
                }
            }
        }
    }

    &[name="user"] {

        min-width: auto;
        div {
            
            div {
                padding: 24px 24px;
    
                span {
                    width: 60%;
                    height: 6px;
                    background-color: #005A9C;
                    position: absolute;
                    left: auto;
                    right: auto;
                    bottom: 0px;
                    border-radius:  4px 4px 0px 0px ;
                }
                
                img {
                    margin: 0px 0px 12px 0px;
    
                }

                &:first-child {

                    img {
                        margin: 12px 0px;
                    }
                }
            }
        } 

    }
}

.content {
    margin-left: 250px;
}

.closenav {
    visibility: hidden;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 5px;
    background-color: rgba(229, 229, 229, 0.575);
}

.navshow {
    visibility: hidden;
}

@media only screen and (max-width: 768px) {

    .sidebar {
        display: none;
    }

    .closenav {
        visibility: visible;
    }
    
    .navshow {
        visibility: visible;
    }

    .closenav, .navshow {

        &:hover {
            cursor: pointer;
        }
    }

    .content {
        margin-left: 0px;
    }

}

@media only screen and (max-width: 500px) {

    .sidebar {
        min-width: 100%;
    }

    .board-list > div {
        flex-direction: column !important;

        a {    
            margin-bottom: 24px !important;
            
            &:last-child {
                margin-bottom: 0px !important;
            }
        }
    }

}

@media only screen and (max-width: 400px) {

    .post {
        a {
            position: relative !important;
            right: 0px !important;
            bottom: 0px !important;
            width: 100%;
            margin-top: 18px;
        }
    }
}