
.table-list {

    padding: 0px 24px 24px 24px;
    margin-bottom: 80px;

    .table {
    
        border: none;
    
        thead, tfoot {
    
            border: none;
    
            tr > th{
    
                font-size: 14px;
                color: gray("600");
                font-weight: 500;
            }
        }
        
        tbody > tr {

            td{
    
                // &:last-child {
                //     background-color: transparent;
                // }
                
            // padding: 24px;
            background-color: white;
            // margin: 24px 12px;
            border-radius: 4px;
            }
        }
        
        th {
            border: none;
        }
        td {
            border: 0.5px solid rgba(229, 229, 229, 0.575);
        }
    }
}

.material-icons {
    line-height: 1.5;
}
